[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cdot = "*"
fastapi = "*"
hgvs = "*"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pytest = "*"
pytest-coverage = "*"

[requires]
python_version = "3.10"
