[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cdot = "*"
fastapi = "*"
hgvs = "*"
pydantic-settings = "*"
uvicorn = "*"
pyyaml = "*"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pytest = "*"
pytest-coverage = "*"
httpx = "*"
pytest-snapshot = "*"
types-pyyaml = "*"

[requires]
python_version = "3.10"
